<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css-8.css">
    <script defer src="https://unpkg.com/vue@next"></script>
    <script defer src="js/script-9.js"></script>
    <title>Notes</title>
</head>

<body>
    <div id="container">
        <h1>Список заметок</h1>
        <textarea rows="2" cols="50" placeholder="Введите заметку" v-model="currentNote" @input="maxSymb"></textarea>
        <br>
        <button class="subBut" @click="addNote">Добавить</button>
        <hr>

        <div class="msg" v-for="(item, index) in notes">
            <p>{{ item }}</p>
            
            <button id="delBut" @click="deleteNote">Удалить</button>
        </div>

        <hr>

        <strong>Всего заметок: {{notes.length}}</strong>
    </div>
</body>

</html>