<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/css-6.css">
    <script defer src="https://unpkg.com/vue@next"></script>
    <script defer src="js/script-7.js"></script>
    <title>Messages</title>
</head>

<body>
    <div id="container">
        <h1>Заметки</h1>
        <p class="addMsg">Добавьте сообщение:</p>
        <textarea rows="5" cols="50" v-model="currentMsg" @input="maxSymb"></textarea>
        <p class="limit" :class="{error: symbols > 60}">Всего: {{ symbols }} из 60</p>
        <button class="subBut" @click="addMsgItem">Опубликовать...</button>

        <p class="msg" v-for="(item, index) in messages" @dblclick="deleteMsg">
            {{ item }}
        </p>
    </div>
</body>

</html>